@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 3028px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 92px auto 96px; 
    max-width: 1100px; 
    padding: 0 24px;
    height: 293px;
    box-sizing: border-box;
}

.header__menu {
    margin-left: 38.52px;
}

.header__links-list {
    display: flex;
    column-gap: 32px;
    list-style: circle;
    padding-top: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    display: flex;
    margin-left: 38px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__address {
    margin-right: 0px;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    letter-spacing: 0.01em;
}

.address__link {
    text-underline-offset: 4px;
}

.cover {
    background-image: url(../image/Основная.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.overlay {
    opacity: 0.6;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cover__title {
    color: #FFF;
    z-index: 1;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115px;
    text-transform: uppercase;
    padding: 165px 50px 207px 50px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-height: 385px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3, 115px);
    gap: 25px;
}

.word-ono {
    width: 286px;
    letter-spacing: 30px;
    justify-self: start;
    margin-left: -100px;
}

.word-tebe {
    width: 339px;
    letter-spacing: 30px;
    justify-self: center;
    margin-left: 80px;
}

.word-nado {
    width: 387px;
    letter-spacing: 30px;
    justify-self: right;
    padding: 0 90px;
}

.cover__description {
    color: #FFF;
    z-index: 1;
    padding: 0 50px 50px;
    display: flex;
    justify-content: flex-start; 
    text-align: center;
    align-items: center;
    gap: 78px;
    margin-left: 19px; 
}

.cover__description-text {
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    text-align: left;
    padding-left: 0px;
}

.bet-button {
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFF;
    font-family: Raleway, sans-serif;
    min-width: 257px;
    min-height: 52px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-left: 100px;
}

.lots {
    width: 1052px;
    height: 723px;
    margin: 180px auto;
    box-sizing: border-box;
}

.lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 42px;
    padding-top: 74px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    list-style: none;
    margin: 28px 0;
    padding-bottom: 53px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 563px;
    width: 334px;
    padding: 40px 40px 20px 40px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url(../image/Фрейм\ 1.svg);
}

.card_type_book {
    background-image: url(../image/Фрейм\ 2.svg);
}

.card_type_picture {
    background-image: url(../image/Фрейм\ 3.svg);
}

.card__title {
    z-index: 1;
    color: #fff;
    font-size: 22px;
    line-height: 115%;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card__text {
    z-index: 1;
    color: #fff;
    font-size: 20px;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.about {
    width: 1052px;
    height: 595px; 
    margin: 120px auto 180px;
    display: grid;
    grid-template-columns: 335px 1fr;
    justify-items: center;
    padding-top: 2px;
    box-sizing: border-box;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
}

.about__logo-image {
    width: 240px;
    height: 240px;
}

.about__column {
    padding-left: 25px;
    width: 693px; 
    height: 449px;
    box-sizing: border-box;
}


.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 0;
    margin: 0;
    bottom: 399px;
    left: 359px;
}

.about__text-wrapper {
    display: flex;
    gap: 25px;
    flex-direction: column;
    height: 100%; 
    justify-content: center; 
    padding-top: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.01px;
    white-space: nowrap;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1100px; 
    height: 180px; 
    margin: 180px auto 90px; 
    box-sizing: border-box;
}

.footer__links-list {
    list-style: none;
    text-align: center;
}

.footer__link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.footer__link_active {
    border-bottom: none;
}

.footer__menu {
    margin-left: 34px;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px; 
    display: block; 
}